<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>move_down</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.07143</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0000.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0001.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0002.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0003.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0004.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0005.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0006.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0007.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0008.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0009.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0010.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0011.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0012.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0013.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>move_right</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.07143</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0028.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0029.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0030.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0031.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0032.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0033.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0034.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0035.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0036.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0037.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0038.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0039.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0040.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>monster_dark_giant_run_0041.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>spritesheets</key>
		<array>
			<string>dark_giant.plist</string>
		</array>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
