<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bat_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,0},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,79},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,79},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,158},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,158},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,237},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,237},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,316},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,316},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,395},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,395},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,474},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,474},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,553},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,553},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,632},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,632},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,711},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,711},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,790},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,790},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,869},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,869},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,948},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,948},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,1027},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,1027},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,1106},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,1106},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,1185},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,1185},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,1264},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,1264},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,1343},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,1343},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,1422},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,1422},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,1501},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{55,1501},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bat.png</string>
            <key>size</key>
            <string>{110,1580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a384db12a3f8b6df3fe10cf3a5c153c0:92772265bb942a896f666b54ff229ba2:3808b107ac6b3aadbfb96b33e232a46e$</string>
            <key>textureFileName</key>
            <string>bat.png</string>
        </dict>
    </dict>
</plist>
