<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_ice_gun_attack_0_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{0,0},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_ice_gun_attack_0_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{330,0},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_ice_gun_attack_0_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{660,0},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_ice_gun_attack_0_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{990,0},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_ice_gun_attack_0_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1320,0},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_ice_gun_attack_0_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{0,330},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_ice_gun_attack_0_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{330,330},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_ice_gun_attack_0_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{660,330},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_ice_gun_attack_0_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{990,330},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_ice_gun_attack_0_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1320,330},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tower_ice_gun_attack_0.png</string>
            <key>size</key>
            <string>{1650,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d18e01c7bab8363134db3b861cc68cec:08b1f8d8e1a1b6e4a44728a69301dbfc:f25e46be114878584538b5ca4454ff4f$</string>
            <key>textureFileName</key>
            <string>tower_ice_gun_attack_0.png</string>
        </dict>
    </dict>
</plist>
